# Ignore all files with the .pdf, .docx, and .txt extensions in the images and docs directories
*.pdf
images/*.pdf
docs/*.docx
docs/*.txt

# Ignore some files with the .jpg and .png extensions
images/make_workflow.jpg
images/project2_make_workflow.jpg

# Ignore the .env file which may contain sensitive information
.env